<section class="section section--android section--white">
    <div class="container">
        <div class="row justify-content-center pt-0 pt-md-4">
            <div class="col-12 col-md-6 text-center mt-0 mt-md-5">
                <h2>ОС Android 9.0 Pie</h2>
                <p>Вместе с этим смартфоном вы получите новейшее обновление системы безопасности и современные функции самой быстрой версии ОС Android 9.0™.</p>
            </div>
        </div>
        <div class="row justify-content-center mt-0 mt-md-5">
            <div class="col-12 col-md-12 mt-5">
                <img src="img/doogee_scr_18.png" alt="android 9.0 PIE" class="img img-fluid">
            </div>
        </div>
    </div>
</section>