<section class="section section--camera-selfie">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-12">
                <div class="row align-items-center">
                    <div class="col-12 col-md-7 order-2 order-md-1">
                        <img src="img/doogee_scr_12.png" alt="selfie" class="img img-fluid">
                    </div>
                    <div class="col-12 col-md-5 order-1 text-center order-md-2 text-md-left">
                        <h2>Камера 16 Мп с широкоугольным объективом 80° для «умных» селфи</h2>
                        <p>Благодаря камере с углом обзора 80° и поддержкой бьюти режима вы сможете сделать изумительные снимки как с обложки журнала на смартфон S68 Pro.</p>
                        <div class="row justify-content-center">
                            <div class="col-12 col-md-6 text-center">
                                <dl>
                                    <dt><strong>16Мп</strong></dt>
                                    <dd>Селфи-камера</dd>
                                </dl>
                            </div>
                            <div class="col-12 col-md-6 v-line text-center">
                                <dl>
                                    <dt><strong>80<sup><small>o</small></sup></strong></dt>
                                    <dd>Широкоугольный объектив</dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>