<section class="section section--gps section--hero section-background--fixed flex align-items-center" style="background-image: url(img/doogee_bckgr_07.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-12 offset-md-1 col-md-6 text-center text-md-left">
                <h2>Навигационные системы GPS, Глонасс, Бэйдоу и Галилео</h2>
                <p>Смартфон S68 Pro поддерживает все четыре ГНСС: GPS, Глонасс, Бэйдоу и Галилео. Сотни спутников на орбите готовы помочь вам в любое время. Смартфон может точно определить ваше местоположение и проложить маршрут к месту назначения.</p>
                <div class="row">
                    <div class="col-12 col-sm-6 col-md-6 col-lg-4 text-center text-md-left">
                        <dl>
                            <dt><strong>2.5</strong>с.</dt>
                            <dd>Быстрое определение местоположения</dd>
                        </dl>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-4 v-line text-center text-md-left">
                        <dl>
                            <dt><strong>5</strong>м</dt>
                            <dd>Точность местоположения</dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>