<section class="section section--fhd">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-9 text-center">
                <h2>Ударопрочный FHD дисплей с диагональю 5,9”</h2>
                <p>IPS дисплей размером 1080x2280 с диагональю 5,9 дюйма и плотностью пикселей 428 ppi имеет два слоя защитного стекла Gorilla glass 4. А корпус из алюминиевого сплава повышает прочность и долговечность всего IPS дисплея высокого разрешения.</p>
                <div class="row justify-content-center">
                    <div class="col-12 col-sm-6 col-md-6 col-lg-3">
                        <dl>
                            <dt><strong>Диагональ 5,9"</strong></dt>
                            <dd>Большой экран</dd>
                        </dl>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-3 v-line">
                        <dl>
                            <dt><strong>428</strong> ppi</dt>
                            <dd>Высокая плотность пикселей</dd>
                        </dl>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-3 v-line">
                        <dl>
                            <dt><strong>Gorilla glass 4</strong></dt>
                            <dd>Закалённое стекло</dd>
                        </dl>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-3 v-line">
                        <dl>
                            <dt><strong>1,5</strong> м</dt>
                            <dd>Ударопрочность</dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10">
                <img src="img/doogee_scr_13.jpg" alt="fhd display" class="img img-fluid">
            </div>
        </div>
    </div>
</section>