<section class="section section--camera-back">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-12 col-md-5 text-center text-md-right">
                    <ul class="camera-specs text-right">
                        <li class="camera-spec camera-spec--telephoto">Телеобъектив 8 Мп</li>
                        <li class="camera-spec camera-spec--flash">Двойная вспышка</li>
                        <li class="camera-spec camera-spec--standard">Стандартный объектив 21 Мп</li>
                        <li class="camera-spec camera-spec--wide">Широкоугольный объектив 8 Мп, 130°</li>
                    </ul>
                </div>
                <div class="col-12 col-md-7">
                    <img src="img/doogee_scr_09.jpg" alt="" class="img img-fluid">
                </div>
            </div>
        </div>
    </section>