<section class="section section--video-block section-background--fixed" style="background-image: url(img/3.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8 offset-md-2">
                <div class="video-wr" style="background-image: url(img/video.png);" data-video="<iframe width='100%' height='400' src='https://www.youtube.com/embed/5_egbkcHVLM' frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen></iframe>"></div>
            </div>
        </div>
    </div>
</section>