<section class="section section--colors">
    <div class="container-fluid">
        <div class="row pt-5 pb-5 justify-content-center align-items-center">
            <div class="col-12 col-md-4 order-2 order-md-1 text-center">
                <div class="color color--black">Чёрный</div>
                <img src="img/doogee_scr_19-1.png" alt="black" class="img img-fluid">
            </div>
            <div class="col-12 col-md-2 text-center order-1 order-md-2">
                <h2><strong>s68</strong> PRO</h2>
            </div>
            <div class="col-12 col-md-4 order-3 order-md-3 text-center">
                <div class="color color--yellow">Жёлтый</div>
                <img src="img/doogee_scr_19-2.png" alt="yellow" class="img img-fluid">
            </div>
        </div>
    </div>
</section>