<section class="section section--chip flex flex-flow--column justify-content-between" style="background-image: url(img/chip.jpg);">
    <div class="container mb-5">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 text-center">
                <h2>Интеллектуальный процессор Master Helio P70, ОЗУ 6 Гб + ПЗУ 128 Гб</h2>
                <p>Процессор MTK Helio P70 оснащен современным блоком обработки с элементами ИИ (APU) для максимально комфортной работы игр и получения интеллектуальных снимков. Многоядерный блок APU изготовлен по современной технологии 12-нм FinFET компании TSMC и обеспечивает быструю и эффективную обработку данных интеллектуальных приложений.</p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-sm-6 col-md-3 text-center">
                <dl>
                    <dt><strong>P70</strong></dt>
                    <dd>ЦП MTK Helio</dd>
                </dl>
            </div>
            <div class="col-12 col-sm-6 col-md-3 text-center v-line">
                <dl>
                    <dt><strong>Для игр</strong></dt>
                    <dd>Интеллектуальная платформа</dd>
                </dl>
            </div>
            <div class="col-12 col-sm-6 col-md-3 text-center v-line">
                <dl>
                    <dt><strong>6 Гб</strong></dt>
                    <dd>ОЗУ LPDDR4X</dd>
                </dl>
            </div>
            <div class="col-12 col-sm-6 col-md-3 text-center v-line">
                <dl>
                    <dt><strong>128 Гб</strong></dt>
                    <dd>ПЗУ Samsung UFS2.0</dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-3 offset-md-2">
                <div class="chip" style="background-image: url(img/chip_inside.jpg);">
                <img src="img/chip_inside.jpg" alt="chip" class="visually-hidden"></div>
            </div>
            <div class="col-12 col-md-6">
                <img src="img/hands.png" alt="play" class="img img-fluid"></div>
            </div>
        </div>
    </div>
</section>