<section class="section section--charge">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-12 order-2 order-md-1 col-md-4 offset-md-2">
                <h2>Обратная беспроводная зарядка</h2>
                <p>Смартфон S68 Pro поддерживает функцию беспроводной зарядки 10 Вт. Кроме того, смартфон S68 также может работать в качестве зарядного коврика 5 Вт для зарядки других беспроводных устройств.</p>
                <div class="row">
                    <div class="col-12 col-md-6 text-center">
                        <dl>
                            <dt><strong>10 Ватт</strong></dt>
                            <dd>Беспроводная зарядка</dd>
                        </dl>
                    </div>
                    <div class="col-12 col-md-6 v-line text-center">
                        <dl>
                            <dt><strong>5 Ватт</strong></dt>
                            <dd>Реверсивная беспроводная зарядка</dd>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 order-1 order-md-2">
                <img src="img/doogee_scr_15.jpg" alt="fast charge" class="img img-fluid">
            </div>
        </div>
    </div>
</section>