<section class="section section--camera-front section--hero" style="background-image: url(img/doogee_scr_08.jpg);">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 text-center">
                <h2>Интеллектуальная тройная камера<br/>Sony 21Мп + 8Мп + 8Мп</h2>
                <p>Смартфон S68 Pro оснащен тремя камерами с основными типами объективов: стандартный, широкоугольный и телеобъектив. Широкоугольным объективом вы можете снимать невероятные пейзажи, телеобъектив обеспечивает сверхчеткое увеличение, а макрообъектив предназначен для съемки мелких объектов вблизи.</p>
                <div class="row justify-content-center">
                    <div class="col-12 col-sm-6 col-md-4 col-lg-4">
                        <dl>
                            <dt><strong>21</strong>Мп</dt>
                            <dd>Высокое разрешение</dd>
                        </dl>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-lg-4 v-line">
                        <dl>
                            <dt><strong>Sony</strong></dt>
                            <dd>Современный датчик</dd>
                        </dl>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-lg-4 v-line">
                        <dl>
                            <dt><strong>AI</strong></dt>
                            <dd>Простые интеллектуальные функции</dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>