<section class="section section--water-proof section-background--fixed section--hero flex" style="background-image: url(img/water_proof.jpg);">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 text-center">
                <h2>Не боится воды</h2>
                <p>Смартфон S68 Pro прошел испытания на соответствие требованиям класса защиты корпуса IP68 и отвечает военным стандартам. Он может нормально работать под водой на глубине 1,5 м в течение 30 минут.</p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-md-2 text-center">
                <dl>
                    <dt><strong>1,5</strong>м</dt>
                    <dd>Глубина</dd>
                </dl>
            </div>
            <div class="col-12 col-md-2 text-center v-line">
                <dl>
                    <dt><strong>30</strong>мин.</dt>
                    <dd>Время<br/>погружения</dd>
                </dl>
            </div>
        </div>
    </div>
</section>