<section class="section section--drop-proof section-background--fixed flex align-items-center" style="background-image: url(img/drop_proof.jpg);">
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-12 col-md-6 col-lg-4 text-center text-md-left">
                <h2>Ударопрочность<br/>1,5 м</h2>
                <p>Литая внутренняя конструкция защищает компоненты внутри смартфона. На углах смартфона предусмотрены вставки из высококачественной резины, которые поглощают удар. Боковые панели из титаново-алюминиевого сплава обеспечивают комплекснуюзащиту смартфона S68 Pro 360°.</p>
            </div>
        </div>
    </div>
</section>