<section class="section section--nfc">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-12 offset-md-2 col-md-3">
                <h2>Функция NFC для бесконтактной оплаты</h2>
                <p>Смартфон S68 Pro с модулем NFC последнего поколения совместим с Google Pay, поэтому вы можете легко проводить любые оплаты.</p>
            </div>
            <div class="col-1 d-none d-md-block"></div>
            <div class="col-12 col-md-5">
                <img src="img/doogee_scr_17.png" alt="" class="img img-fluid">
            </div>
        </div>
    </div>
</section>