<section class="section section--specs">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-6 col-md-3 text-center mb-2">
                <figure>
                    <div class="icons--specs icon--5 mb-3">
                        <img src="img/icons-specs.png" alt="spec" class="visually-hidden">
                    </div>
                    <figcaption>IP68/IP69K MIL-STD-810G</figcaption>
                </figure>
            </div>
            <div class="col-12 col-sm-6 col-md-3 text-center mb-2">
                <figure>
                    <div class="icons--specs icon--1 mb-3">
                        <img src="img/icons-specs.png" alt="spec" class="visually-hidden">
                    </div>
                    <figcaption>Четыре навигационные системы</figcaption>
                </figure>
            </div>
            <div class="col-12 col-sm-6 col-md-3 text-center mb-2">
                <figure>
                    <div class="icons--specs icon--3 mb-3">
                        <img src="img/icons-specs.png" alt="spec" class="visually-hidden">
                    </div>
                    <figcaption>MTK Helio P70</figcaption>
                </figure>
            </div>
            <div class="col-12 col-sm-6 col-md-3 text-center mb-2">
                <figure>
                    <div class="icons--specs icon--4 mb-3">
                        <img src="img/icons-specs.png" alt="spec" class="visually-hidden">
                    </div>
                    <figcaption>Samsung 6Гб+128Гб</figcaption>
                </figure>
            </div>
            <div class="col-12 col-sm-6 col-md-3 text-center mb-2">
                <figure>
                    <div class="icons--specs icon--2 mb-3">
                        <img src="img/icons-specs.png" alt="spec" class="visually-hidden">
                    </div>
                    <figcaption>Интеллектуальная тройная камера 21 Мп</figcaption>
                </figure>
            </div>
            <div class="col-12 col-sm-6 col-md-3 text-center mb-2">
                <figure>
                    <div class="icons--specs icon--7 mb-3">
                        <img src="img/icons-specs.png" alt="spec" class="visually-hidden">
                    </div>
                    <figcaption>FHD-дисплей с диагональю 5.9<sup>"</sup></figcaption>
                </figure>
            </div>
            <div class="col-12 col-sm-6 col-md-3 text-center mb-2">
                <figure>
                    <div class="icons--specs icon--6 mb-3">
                        <img src="img/icons-specs.png" alt="spec" class="visually-hidden">
                    </div>
                    <figcaption>Аккумулятор 6300 мАч</figcaption>
                </figure>
            </div>
            <div class="col-12 col-sm-6 col-md-3 text-center mb-2">
                <figure>
                    <div class="icons--specs icon--8 mb-3">
                        <img src="img/icons-specs.png" alt="spec" class="visually-hidden">
                    </div>
                    <figcaption>Обратная беспроводная зарядка</figcaption>
                </figure>
            </div>
        </div>
    </div>
</section>