<section class="section section--camera-angle">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-12 col-md-7">
                <img src="img/doogee_scr_10.jpg" alt="photos" class="img img-fluid">
            </div>
            <div class="col-md-1 d-none d-md-block"></div>
            <div class="col-12 col-md-3">
                <p>Делайте потрясающие фотографии пейзажей без искажений с помощью широкоугольного объектива с углом обзора 130° одним нажатием кнопки.</p>
            </div>
        </div>
    </div>
</section>