<section class="section section--recognition section--white">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-12 order-2 order-md-1 col-md-5">
                <img src="img/doogee_scr_16.jpg" alt="" class="img img-fluid">
            </div>
            <div class="col-12 order-1 text-center text-md-left order-md-2 offset-md-1 col-md-4 col-lg-3">
                <h2>Идентификация по лицу и сканер отпечатков пальцев</h2>
                <p>Если у вас заняты руки, просто посмотрите на экран смартфона, и он сразу же разблокируется без сканирования отпечатка пальца.</p>
                <img src="img/doogee_scr_16_small.jpg" alt="" class="img img-fluid">
                <div class="row mt-5">
                    <div class="col-12 col-lg-6 text-center">
                        <dl>
                            <dt><strong>Ночной</strong></dt>
                            <dd>режим доступа</dd>
                        </dl>
                    </div>
                    <div class="col-12 col-lg-6 v-line text-center">
                        <dl>
                            <dt><strong>0,2 сек.</strong></dt>
                            <dd>Скорость идентификации</dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>